@tailwind base;
@tailwind components;
@tailwind utilities;


.clip-figure {
  clip-path: path('M0 0 H100 V100 A100 100 0 0 1 0 0 Z');
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* WebKit (Google Chrome, Safari) */
}


.menu-item-description {
  min-width: 200px;
  max-width: 400px; /* Set the desired width of the div */
  word-wrap: break-word; /* Break words that are too long */
  word-break: break-word; /* Ensure long words break */
  white-space: normal; /* Allow text to wrap onto new lines */
  overflow: hidden; /* Hide any overflow content if needed */
}


@keyframes glow {
  0% {
    box-shadow: 0px 0px 10px #ffda77, 0px 0px 20px #e0c097;
  }
  50% {
    box-shadow: 0px 0px 20px #ffda77, 0px 0px 40px #e0c097;
  }
  100% {
    box-shadow: 0px 0px 10px #ffda77, 0px 0px 20px #e0c097;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}


.cafe-bg-img{
    background-image: url('./background/menu.png');
  background-size: cover; /* or 'contain', 'auto' */
  background-repeat: no-repeat; /* Prevents tiling */
  background-position: center; /* Center aligns the image */
}

.image-bottom{
  
}










.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  /* font-weight: 600; */
  text-transform: uppercase;
  font-size: 37px;
  font-family: forum;
  letter-spacing: 4px;
  display: flex;
  white-space: nowrap;
  display: flex;
  color: #EFE7D2;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}
